extends ../layout.pug
block variables
  - var pages = routes
  - var randomBoredom = random

block content
  #home.container
    div.content
      - const activity = randomBoredom.activity
      - const type = randomBoredom.type
      - const participants = randomBoredom.participants
      - const price = randomBoredom.price
      - const link = randomBoredom.link
      - const key = randomBoredom.key
      - const accessibility = randomBoredom.accessibility
      include ../partials/boredom
  